@font-face {
  font-family: "Mini_handwriting";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_08@1.0/Mini_handwriting.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: rgb(246, 240, 255);
  width: 100vw;
  height: 100vh;
  /*display: flex;
  justify-content: center;
  align-items: center; */
}

.wrapper {
  margin: 50px auto;
  border-radius: 10px;
  width: 450px;
  background-color: rgb(255, 255, 255);
  box-shadow: 10px 5px 5px rgb(196, 196, 196);
  font-family: "Mini_handwriting";
  padding: 35px 20px;
}

.wrapper h1 {
  font-size: 40px;
  text-align: center;
  padding-bottom: 15px;
}

.list li {
  font-size: 22px;
  padding: 8px;
  margin: 15px;
  border: 1px solid rgb(224, 224, 224);
}

.check {
  text-decoration: line-through;
  color: rgb(161, 161, 161);
}

.todo_input {
  margin-left: 40px;
  border: 2px solid rgb(212, 176, 209);
  border-radius: 7px;
  width: 80%;
  height: 30px;
}
.txt {
  margin-left: 10px;
}

.delete_btn {
  width: 10px;
  display: inline;
  float: right;
  padding: 0 13px;
  font-size: 30px;
  line-height: 15px;
}

.todo_input:focus {
  outline: 2px solid rgb(230, 131, 222);
}
